@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url(./images/rain_background.svg);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
