* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Silkscreen', cursive;
    color: blueviolet;
}

.container {
    background-color: bisque;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 3em;
    margin-left: 1em;
}