* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Silkscreen', cursive;
    color: blueviolet;
    display: inline-block;
}

.container {
    background-color: bisque;
    padding: .5em;
    text-align: center;
    /* display: flex; */
}

.container img {
    width: 3em;
    display: inline-block;
    margin-top: 2em;
    margin-left: 1em;
}