@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*{
   margin: 0;
   padding: 0; 
   font-family: "Poppins", san-serif;
}

body {
    background-color: #28272a;
    height: 100vh;
}


.container {
    color: #fff;
    text-align: center;
}

.text {
    margin-top: 2em;
}

.textCalc {
    font-size: 1.5em;
}

.calculator {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    padding: 1em;
}


.btn {
    width: 2em;
    height: 2em;
    font-size: 2em;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: #fff;
    margin: 2px;
}

.btn:hover {
    background-color: rgb(12, 12, 12);
}


.equal {
    height: 4.2em;
}

.zero {
    width: 4.2em;
}

#result {
    background-color: #fff;
    width: 260px;
    height: 30px;
    margin:8px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3db8ff;
    width: 100%;
    height: 8rem;
    margin-top: 600px;
  }